{%extends 'base.html'%}

{% block title%} Madlibs {%endblock%}
{% block content%}

<h1>MadLibs</h1>

<form action="/story">
    <div class="form-group">
        <label for="place">Place:
            <input type="text" id="place" name="place" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="noun">Noun:
            <input type="text" id="noun" name="noun" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="verb">Verb:
            <input type="text" id="verb" name="verb" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="adjective">Adjective:
            <input type="text" id="adjective" name="adjective" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label for="plural_noun"> Plural Noun:
            <input type="text" id="plural_noun" name="plural_noun" class="form-control">
        </label>
    </div>
    <button class="btn btn-outline-dark"">Submit</button>
</form>

{% endblock %}